<form method="GET">
    <input type="text" placeholder="Categorie" name="categorie" style="width: 150px; margin: 20px">
    <input type="text" placeholder="Titre" name="titre" style="width: 150px; margin: 20px">
    <input type="text" placeholder="Auteur" name="auteur" style="width: 150px; margin: 20px">
    <button type="submit" style="border-radius: 10px; margin: 20px">Recherche</button>
</form>